.ca-notice-content {
    display: flex;
    align-content: center;
    align-items: center;
  }
  .ca-logo img{
      margin: 5px 10px 2px 0 ;
  }
  .ca-error{
      color: rgb(232, 22, 22);
  }
  .ca-success{
    color: rgb(6, 183, 62);
}
.ca-warning{
    color: rgb(219, 166, 23)
}
.notice.ca-notice{
    position: relative;
}
.ca-notice-dismiss {
    position: absolute;
    top: 0;
    right: 1px;
    border: none;
    margin: 0;
    padding: 9px;
    background: 0 0;
    color: #787c82;
    cursor: pointer;
  }
.ca-notice-dismiss::before {
    background: 0 0;
    color: #787c82;
    content: "\f153";
    display: block;
    font: normal 16px/20px dashicons;
    speak: never;
    height: 20px;
    text-align: center;
    width: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }